@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.003 286);
  
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.003 286);
  
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.003 286);
  
  --color-primary: oklch(53.3% 0.263 264);
  --color-primary-foreground: oklch(98% 0.003 286);
  
  --color-secondary: oklch(96.1% 0.003 286);
  --color-secondary-foreground: oklch(11.2% 0.027 286);
  
  --color-muted: oklch(96.1% 0.003 286);
  --color-muted-foreground: oklch(46.9% 0.014 286);
  
  --color-accent: oklch(96.1% 0.003 286);
  --color-accent-foreground: oklch(11.2% 0.027 286);
  
  --color-destructive: oklch(60.2% 0.238 28);
  --color-destructive-foreground: oklch(98% 0.003 286);
  
  --color-border: oklch(91.4% 0.006 286);
  --color-input: oklch(91.4% 0.006 286);
  --color-ring: oklch(53.3% 0.263 264);
  
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(4.9% 0.036 286);
    --color-foreground: oklch(98% 0.003 286);
    
    --color-card: oklch(4.9% 0.036 286);
    --color-card-foreground: oklch(98% 0.003 286);
    
    --color-popover: oklch(4.9% 0.036 286);
    --color-popover-foreground: oklch(98% 0.003 286);
    
    --color-primary: oklch(59.8% 0.247 264);
    --color-primary-foreground: oklch(11.2% 0.027 286);
    
    --color-secondary: oklch(17.5% 0.027 264);
    --color-secondary-foreground: oklch(98% 0.003 286);
    
    --color-muted: oklch(17.5% 0.027 264);
    --color-muted-foreground: oklch(65.1% 0.016 286);
    
    --color-accent: oklch(17.5% 0.027 264);
    --color-accent-foreground: oklch(98% 0.003 286);
    
    --color-destructive: oklch(30.6% 0.163 28);
    --color-destructive-foreground: oklch(98% 0.003 286);
    
    --color-border: oklch(17.5% 0.027 264);
    --color-input: oklch(17.5% 0.027 264);
    --color-ring: oklch(48% 0.229 264);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-feature-settings: "rlig" 1, "calt" 1;
}
